<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="https://github.com/zmanim/zman" target="_blank" class="nav-link<%- page.path.match(/github/) ? ' current' : '' %>">Github</a></li>
