<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
      <h2 class="vue">Zman</h2>
      <h1>
        A PHP extension for <br>Jewish dates and<br> Zmanim.
      </h1>
      <p>
          <a class="button" href="/docs/"><i class="fas fa-code"></i> GET STARTED</a>
      </p>
      <!-- </div> -->
  </div>
</div>

<div id="bglogo"></div>

<div id="footer">
    <div class="container">
        Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
        Copyright &copy; 2019 Ari Miller
    </div>
</div>
<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
