<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.svg">
    </div><div class="right">
      <h2 class="vue">Zman</h2>
      <h1>
        A simple PHP extension<br>for Jewish dates and Zmanim.
      </h1>
      <p>
        <a class="button" href="/docs/">GET STARTED</a>
        <a class="button white" href="https://github.com/zmanim/zman" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Convert</h2>
      <p>Easily convert Gregorian calendar dates to the Jewish calendar</p>
    </div>

    <div class="point">
      <h2>Find</h2>
      <p>Instantly find which day each of the <em>Moadim</em> will start for a given year</p>
    </div>

    <div class="point">
      <h2>Check</h2>
      <p>
        Effortlessly check if a day has <br>
        <em>leining, slichos, hallel, mussaf,</em> etc.
      </p>
    </div>
  </div>
</div>


<div id="footer">
  Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
  Copyright &copy; 2017 Ari Miller
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
