@import "_settings"
@import "_syntax"

html
    height 100%

body
    font-family $body-font
    font-size $body-font-size
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color $medium
    margin 0
    background-color #1644ad
    background linear-gradient(118deg, #328bf2, #1644ad)
    &.docs
        padding-top $header-height
        
@media screen and (max-width: 900px)
    body.docs
        padding-top 0

#header
    a, .nav-link.fas
        text-decoration none
        color hsla(0,0%,100%,.7)

    a:hover, .nav-link.fas:hover
        color white

a
    transition all .15s ease
    text-decoration none
    color $dark

a:hover:not(.button)
    text-decoration underline

img
    border none

h1, h2, h3, h4, strong
    font-weight 600
    color $dark

code, pre
    font-family $code-font
    font-size $code-font-size
    background-color $codebg
    -webkit-font-smoothing initial
    -moz-osx-font-smoothing initial

code
    color #EF4A78
    padding 3px 5px
    margin 0 2px
    border-radius 2px
    white-space nowrap

em
    color $light

p
    word-spacing 0.05em

a.button
    padding 0.75em 2em
    border-radius 2em
    display inline-block
    color #fff
    border 1px solid hsla(0,0%,100%,.25)
    background-color hsla(0,0%,100%,.1)
    transition all .15s ease
    box-sizing border-box
    &.white
        background-color #fff
        color $brand
        
a.button:hover
    background white
    color $brand

.highlight
    overflow-x auto
    position relative
    padding 0
    background-color $codebg
    padding .8em .8em .4em
    line-height 1.1em
    border-radius $radius
    box-shadow 0 3px 5px -1px rgba(0,0,0,.2)
    table, tr, td
        width 100%
        border-collapse collapse
        padding 0
        margin 0
    .gutter
        $code-line-height = 1.5em
        pre
            color darken($codebg, 10%)
            padding 1.2em 1.4em
            line-height $code-line-height
            margin 0
        width 1.5em
    .code
        $code-line-height = 1.5em
        pre
            padding 1.2em 1.4em
            line-height $code-line-height
            margin 0
        .line
            min-height $code-line-height
    &.html, &.js, &.bash, &.css, &.php
        .code:after
            position absolute
            top 0
            right 0
            color #ccc
            text-align right
            font-size .75em
            padding 5px 10px 0
            line-height 15px
            height 15px
            font-weight 600
    &.html .code:after
        content 'HTML'
    &.js .code:after
        content 'JS'
    &.bash .code:after
        content 'Shell'
    &.css .code:after
        content 'CSS'
    &.php .code:after
        content 'PHP'

#main
    position relative
    z-index 1
    padding 0 60px 30px
    overflow-x hidden
    background white

#ad
    width 125px
    text-align center
    position fixed
    z-index 99
    bottom 10px
    right 10px
    padding 10px
    background-color rgba(255, 255, 255, .65)
    border-radius 3px
    font-size 13px
    a
        display inline-block
        color $light
        font-weight normal
    span
        color $light
        display inline-block
        margin-bottom 5px
    img
        width 125px

#nav
    .nav-link
        cursor pointer
    .nav-dropdown-container
        .nav-link
            &:hover
                border-bottom none
        &:hover
            .nav-dropdown
                display block
    .nav-dropdown
        display none
        position absolute
        top 100%
        left 0
        background-color #fff
        padding 10px 0
        border 1px solid #ddd
        border-bottom-color #ccc
        text-align left
        border-radius 4px
        li
            line-height 1.8em
            margin 0
            display block
        a
            color $light
            font-size .9em
            display block
            padding 0 30px 0 20px
            &:hover
                color $brand
    .arrow
        display inline-block
        vertical-align middle
        margin-top -1px
        margin-left 6px
        margin-right -14px
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 5px solid #ccc
