$header-height = 40px

#header
    height 41px
    padding $heading-padding-vertical 60px
    position relative
    z-index 2

body.docs
    #header
        position fixed
        width 100%
        top 0
        background-color #1644ad
        background linear-gradient(118deg, #328bf2, #1644ad)
        box-shadow 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)

    #nav
        position fixed

#nav
    list-style-type none
    margin 0
    padding 0
    position absolute
    right 60px
    top $heading-padding-vertical
    height $header-height
    line-height $header-height
    .break
        display none
    li
        display inline-block
        position relative
        margin 0 .6em
        
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    -webkit-appearance:none
        
#search-form
    .fas
        margin-left -20px
        
.search-query
    outline none
    background transparent
    border none
    
::placeholder
    color white
    opacity 1

:-ms-input-placeholder
    color white

::-ms-input-placeholder
    color white

.search-query
	-webkit-appearance textfield
	-webkit-box-sizing content-box
	font-family inherit
	font-size 100%

	padding 9px 10px 9px 32px
	width 55px
	
	-webkit-transition all .5s
	-moz-transition all .5s
	transition all .5s

.search-query:focus
	width 130px
    background transparent
    outline none
    border none
	-webkit-box-shadow none
	-moz-box-shadow none
	box-shadow none

#search-form input[type=search]
	width 1px
	padding-left 10px
	color white
	cursor pointer
#search-form input[type=search]:focus
	width 130px
	cursor auto

.sidebar
    #search-form input[type=search]
        width 130px
        border-bottom 1px solid $brand
        color $dark

    ::placeholder
        color $dark
        opacity 1

    :-ms-input-placeholder
        color $dark

    ::-ms-input-placeholder
        color $dark

#logo
    display inline-block
    font-size 1.5em
    line-height $header-height
    color white !important
    font-family $logo-font
    font-weight 500
    img
        vertical-align middle
        margin-right 6px
        height 25px
        
#mobile-bar
    position fixed
    top 0
    left 0
    width 100%
    height 40px
    background-color #fff
    z-index 9
    display none
    box-shadow 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
    background linear-gradient(118deg, #328bf2, #1644ad)
    .menu-button
        position absolute
        width 24px
        height 24px
        top 8px
        left 12px
        background url(../images/menu.svg) center center no-repeat
        fill white
        background-size 24px
        cursor pointer
    .logo
        position absolute
        width 30px
        height 30px
        background url(../images/logo.svg) center center no-repeat
        top 5px
        left 50%
        margin-left -15px
        background-size 30px
