@import "_common"
@import "_header"
@import '_sidebar'

$width = 900px
$space = 50px

body
    background-color #1644ad
    background linear-gradient(118deg, #328bf2, #1644ad)

.sidebar
    display none

#mobile-bar
    &.top
        background-color transparent
        box-shadow none
        .logo
            display none

#hero
    padding 80px 40px
    .inner
        max-width $width
        margin 0 auto
    h1
        font-weight 300
        margin 0
        font-size 3.2em
        color white
    h2
        font-family $logo-font
        font-weight 500
        font-size 2.4em
        margin 0 0 10px
        display none
        color white
    .button
        margin 1em 0
        font-size 1.05em
        font-weight 600
        letter-spacing .1em
        &:first-child
            margin-right 1em
    .social-buttons
        list-style-type none
        padding 0
        li
            display inline-block
            vertical-align middle
            margin-right 15px
            
#bglogo
    position absolute
    right 0
    bottom 0
    background-image url('/images/logo.svg')
    background-repeat no-repeat
    background-position-y 200px
    background-position-x 50px
    opacity 0.05
    height 800px
    width 800px

#footer
    position fixed
    bottom 0
    width 100%
    color #fff
    opacity 0.8
    text-align center
    a
        font-weight 700
        color #fff
    .container
        margin 0 60px
        padding $space 0
        border-top 1px solid lighten($brand, 10%)

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block
    #hero
        padding $space 40px 30px
        .hero-logo
            float none
            margin 30px 0 15px
            width 140px
            height 140px
        .left, .right
            text-align center
            width 100%
        h1
            font-size 2em
        h2
            display block
        .button
            font-size .9em
    #highlights
        .point
            display block
            margin 0 auto
            width 300px
            padding 0 40px 30px
            &:before
                content "—"
                color $brand
